<h1>Welcome to Blocipedia</h1>

  <% if !current_user %>
    <div class = 'teal box centered-text shift-down move-to-center'> 
      <br>
        Create and share your Wikis!
        <%= button_to "Sign Up", new_user_registration_path, :class => "green-btn centered-text", 
        :method => :get %>
    </div>
  <% end %>

  <% if current_user && current_user.premium? %>
    <div class='teal box centered-text shift-down move-to-center'> 
      <br>
        Create unlimited number of free wikis with free plan
        <%= button_to "Free", charges_downgrade_path, :class => "green-btn centered-text", 
        :method => :get %>
    </div> 
  <% end %>

  <% if current_user && current_user.public? %>
    <div class='teal box centered-text shift-down move-to-center'> 
      <br>
        Create private wikis with premium plan
        <%= button_to "Premium", new_charge_path, :class => "green-btn centered-text", 
        :method => :get %>
    </div>
  <% end %>


